{% comment -%}---------------------------------------------------------------------------
This file allows you to offer custom functions or overwrite any of the theme or system 
functions.   The function parameters can be accessed through include.params object.
------------------------------------------------------------------------{% endcomment -%}

{% case include.function -%}

{% comment -%}---------------------------------------------------------------------------
Function: render_newsletter_card

Description: Filter the default display of a post in the 'render_posts' function call.

Parameters:
    * post          (object) - The post object
------------------------------------------------------------------------{% endcomment -%}
{% when "render_newsletter_card" -%}
<div class="card">
    <img src="{{ include.params.post.images[0].url }}" alt="{{ include.params.post.title | escape }}" />
    <div class="card-body">
        <a href="{{ include.params.post.url | relative_url }}">
            <h4>{{ include.params.post.title | escape }}</h4>
        </a>
        <p>{{ include.params.post.excerpt }}</p>
    </div>
</div>

{%- else -%}<N/A>
{%- endcase -%}